<div class="row">
  <div class="welcome col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="profile-main row mt-4">
  <div class="profile-container d-flex justify-content-center align-items-center">
    <div class="profile-card">
      <div class="upper">
        <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">
      </div>
      <div class="user text-center">
        <div class="profile">
          <img src="https://i.imgur.com/JgYD2nQ.jpg" class="rounded-circle" width="80">
        </div>
      </div>
      <div class="mt-5 text-center">
        <h4 class="mb-0">{{name}}</h4>
        <span class="text-muted d-block mb-2"></span>
        <a href="/cart/{{this.id}}"><button class="btn btn-primary btn-sm follow">View Cart</button></a>
        <div class="d-flex justify-content-between align-items-center mt-4 px-4">
        </div>
      </div>
    </div>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>